<div class='container'>

  <div id="menu-secondary" class="menu-container menu-secondary" role="navigation">
  

    <div class="menu">

      <ul id="menu-secondary-items" class="menu-secondary-items">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <li id="menu-item" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item">
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
        </li>
        {{ end }}

      </ul>

    </div>

  </div>


  <ul class="social-media-icons">


    {{ with .Site.Params.social.facebook }}
    <li>
      <a href="{{ . }}" data-animate-hover="pulse" class="facebook" target="_blank">
        <i class="fa fa-facebook-square" title="facebook"></i>
        <span class="screen-reader-text">facebook</span>
      </a>
    </li>
    {{end}}


    {{ with .Site.Params.social.instagram }}
    <li>
      <a href="{{ . }}" data-animate-hover="pulse" class="twitter" target="_blank">
        <i class="fa fa-instagram" title="instagram"></i>
        <span class="screen-reader-text">instagram</span>
      </a>
    </li>
    {{end}}

    {{ with .Site.Params.social.email }}
    <li>
      <a href="mailto:{{ . }}" data-animate-hover="pulse" class="email">
        <i class="fa fa-envelope" title="email"></i>
        <span class="screen-reader-text">email</span>
      </a>
    </li>
    {{end}}


  </ul></div>
